.title {
    font-size: xx-large;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #f7b7d0;
    color: white;
    box-shadow: 0 0 10px rgba(247, 183, 208, 0.7), 0 0 20px rgba(247, 183, 208, 0.7); 
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 5px #f7b7d0, 0 0 10px #f7b7d0, 0 0 20px #f7b7d0, 0 0 40px #f7b7d0;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
  
  .nav-links a, .nav-links {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.25rem 0.5rem; 
    transition: color 0.3s ease;
    text-shadow: 0 0 5px #f7b7d0, 0 0 10px #f7b7d0;
    transition: transform 0.3s ease;
  }
  .nav-links a:hover {
    color: #e7e7e7;
    text-shadow: 0 0 10px #f7b7d0, 0 0 20px #f7b7d0, 0 0 30px #f7b7d0;
    transform: scale(1.1);
  }